body {
	background-image: url(../images/background.jpg);
	margin: 0px;
	padding: 0px;
}

.bodypadding {
	padding: 0px 0px 140px 0px;
}

.VidhiPanchal {
	background-color: #003366;
	color: white;
}

.VP {
	color: white;
	font-size: 30px;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.VP:hover {
	color: grey;
}

.SideBarSection {
	background-color: #fff;
	border-style: solid;
	border-width: 2px;
	border-color: #ddd;
	height: 180px;
}

.ConnectTitle {
	color:#003366;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: #dddddd;
	padding: 0px 0px 10px 0px;
}

.AboutMeSection {
	background-color: #fff;
	border-style: solid;
	border-width: 2px;
	border-color: #ddd;
	margin-bottom: 20px;
}

.AboutMeTitle {
	color: #003366;
	font-family: 'Georgia', Times, Times New Roman, serif;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: #dddddd;
	padding: 0px 0px 10px 0px;
}

.AboutMeImage {
	padding: 0px 0px 20px 0px;
}

.footer {
	clear: both;
	background: #e0e0eb;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	border-style: solid;
	border-color: #003366;
	border-width: 5px 0px 0px 0px;
	text-align: center;
	padding: 20px;
	margin-top: 20px;
	color: black;
}

textarea#NameBox {
	height: 30px;
	border: 1px solid #dddddd;
	padding: 5px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: black;
	margin-top: 5px;
	margin-bottom: 10px;
}

#NameBox:focus {
	color: black;
}

::-webkit-input-placeholder {
  color: #dddddd;
}

textarea#EmailBox {
	height: 30px;
	border: 1px solid #dddddd;
	padding: 5px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: black;
	margin-top: 5px;
	margin-bottom: 10px;
}

#EmailBox:focus {
	color: black;
}

textarea#MessageBox {
	height: 300px;
	border: 1px solid #dddddd;
	padding: 5px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: black;
	margin-top: 5px;
	margin-bottom: 10px;
}

#MessageBox:focus {
	color: black;
}

.SubmitButton {
    background-color:#003366;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

textarea {	
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
    width: 100%;
}

.img1 {
	position: relative;
	margin-bottom: 20px;
}

.one {
	position: absolute;
	bottom: 5px;
	height: 25px;
	width: 255px;
	text-align: center;
	color: black;
	background: #b3b3cc;
	padding: 3px;
}

.img2 {
	position: relative;
	margin-bottom: 20px;
}

.two {
	position: absolute;
	bottom: 5px;
	height: 25px;
	width: 255px;
	text-align: center;
	color: black;
	background: #b3b3cc;
	padding: 3px;
}
/* 
.StockImage3Div {
	position: relative;
	margin-bottom: 20px;
}

.Trivia {
	position: absolute;
	bottom: 5px;
	height: 25px;
	width: 255px;
	text-align: center;
	color: #ffffff;
	background: #4aaaa5;
	padding: 3px;
}

.StockImage4Div {
	position: relative;
	margin-bottom: 20px;
}

.Rutgers {
	position: absolute;
	bottom: 5px;
	height: 25px;
	width: 255px;
	text-align: center;
	color: #ffffff;
	background: #4aaaa5;
	padding: 3px;
}

.StockImage5Div {
	position: relative;
	margin-bottom: 20px;
}

.RPS {
	position: absolute;
	bottom: 5px;
	height: 25px;
	width: 255px;
	text-align: center;
	color: #ffffff;
	background: #4aaaa5;
	padding: 3px;
} */

.container-fluid {
	margin: 0px;
	padding: 0px;
}

@media screen and (max-width: 1000px) {
	.SideBarSection {
		background-color: #fff;
		border-style: solid;
		border-width: 2px;
		border-color: #ddd;
		height: 220px;
	}
}

@media screen and (max-width: 991px) {
	.stock1 {
		width: 100%;
	}
	.Hangman {
		position: absolute;
		bottom: 5px;
		height: 25px;
		width: 100%;
		text-align: center;
		color: #ffffff;
		background: #4aaaa5;
		padding: 3px;
	}

	.stock2 {
		width: 100%;
	}

	.RPG {
		position: absolute;
		bottom: 5px;
		height: 25px;
		width: 100%;
		text-align: center;
		color: #ffffff;
		background: #4aaaa5;
		padding: 3px;
	}

	.stock3 {
		width: 100%;
	}

	.Trivia {
		position: absolute;
		bottom: 5px;
		height: 25px;
		width: 100%;
		text-align: center;
		color: #ffffff;
		background: #4aaaa5;
		padding: 3px;
	}

	.stock4 {
		width: 100%;
	}

	.Rutgers {
		position: absolute;
		bottom: 5px;
		height: 25px;
		width: 100%;
		text-align: center;
		color: #ffffff;
		background: #4aaaa5;
		padding: 3px;
	}

	.stock5 {
		width: 100%;
	}

	.RPS {
		position: absolute;
		bottom: 5px;
		height: 25px;
		width: 100%;
		text-align: center;
		color: #ffffff;
		background: #4aaaa5;
		padding: 3px;
	}
}
